<%= link_to "Edit", edit_blog_post_path(@blog_post) %> 
<%= link_to "Delete", blog_post_path(@blog_post), method: :delete, data: {confirm: "Are you sure?"} %> 
<%= link_to "Back", root_path %>

<h1> <%= @blog_post.title %> </h1> 
<%= @blog_post.body %> blog_post
